spring.application.name=user-management-service

server.port=8080

# Data Source
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/service_hub_db
spring.datasource.username=
spring.datasource.password=

# Hibernate
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.show_sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.hibernate.ddl-auto=validate

# Rabbit
spring.rabbitmq.host=localhost
spring.rabbitmq.port=5672
spring.rabbitmq.username=
spring.rabbitmq.password=

# Security
jwt.secret-base64=
jwt.access-token-ttl=15m
jwt.refresh-token-ttl=7d
jwt.issuer=user-management-service
security.password-reset.token-ttl=10m

# Actuator
management.endpoints.web.exposure.include=health, info, metrics

# Scheduling
spring.task.scheduling.pool.size=1